/* Skip to content button */
.skipBtn {
  z-index: 100;
  background: #000;
  color: #fff;
  position: absolute;
  top: 0;
  left: -100%;
  padding: 1rem;
  border: 3px solid var(--color-primary) !important;
  border-left-width: 0 !important;
  border-top-width: 0 !important;
  transition: left 0.3s ease-in-out;
}

.skipBtn:focus {
  left: 0;
}
